*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

nav{
    background-color: rgb(217, 217, 217);
    display: flex;
}

nav .left{
    flex: 50%;
    padding: 10px;
    padding-left: 90px;
    display: flex;
    align-items: center;
}

nav .left li{
    display: inline;
}

nav .left ul li a{
    color: black;
    margin: 20px;
}

nav .right{
    flex: 50%;
    padding: 10px;
    padding-right: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .right a{
    background-color: orangered;
    color: white;
    padding: 8px 15px;
    border-radius: 8px;
}

body{
    background-color: rgb(3, 3, 63);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 93vh;
}

.container .section{
    display: flex;
    width: 85%;
}

.section .left{
    background-color: white;
    flex: 30%;
}

.section .right{
    background-color: white;
}

.section .skill-container{
    display: flex;
}

.section .skill-container div{
    flex: 1;
}

.skill-container{
    width: 50%;
    height: 50%;
}

/* My Project Form */
.project-form {
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

.project-form .form-container{
    width: 500px;
}

.project-form .form-container h1 {
  text-align: center;
  margin-bottom: 20px;
}
/*
.project-form form label {
  font-size: 20px;
  font-weight: 400;
}
/*
.project-form form input,
textarea,
select {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  background: #f4f3f3;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
}

.project-form form textarea {
  height: 250px;
}

.project-form form .input-project-image-group {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  background: #f4f3f3;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  cursor: pointer;
}

.project-form form .input-project-image-group label p {
  font-size: 15px;
}

.project-form form .input-project-image-group label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-form form .button-group {
  text-align: right;
} 

//buat bagian project list
  margin-top: 80px;
  margin-bottom: 80px;
  display:flex;
  align-items:baseline;
  flex-wrap: wrap;
  flex-direction: row;


*/

/* Blog Form */
.blog-form {
    padding: 50px 0;
    display: flex;
    justify-content: center;
  }
  
  .blog-form .form-container {
    width: 500px;
  }
  
  .blog-form .form-container h1 {
    text-align: center;
    margin-bottom: 40px;
    color: white;
  }
  
  .blog-form form label {
    font-size: 20px;
    font-weight: 400;
  }
  
  .blog-form form input,
  textarea,
  select {
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    background: #f4f3f3;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
  }
  
  .blog-form form textarea {
    height: 250px;
  }
  
  .blog-form form .input-blog-image-group {
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    background: #f4f3f3;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .blog-form form .input-blog-image-group label p {
    font-size: 15px;
  }
  
  .blog-form form .input-blog-image-group label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .blog-form form .button-group {
    text-align: right;
  }
  
  .blog-form form button {
    margin-top: 50px;
    padding: 8px 20px;
    font-size: 17px;
    background: #ec4d37;
    border-radius: 8px;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  .blog hr {
    border: 1px solid #dbdbdb;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  
  /* Blog list */
  .blog .blog-list {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .blog .blog-list .blog-list-item {
    width: 300px;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid rgb(7, 7, 49);
    border-radius: 8px;
    display: flex;
    flex-direction: row; 
    align-items: left; 
    flex-wrap: wrap;
  }
  
  .blog .blog-list .blog-list-item .blog-image {
    flex: 1;
  }
  
  .blog .blog-list .blog-list-item .blog-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  
  .blog .blog-list .blog-list-item .blog-content {
    padding-left: 20px;
    flex: 2;
  }
  
  .blog .blog-list .btn-group {
    text-align: right;
    margin-bottom: 20px;
  }
  
  .blog .blog-list .btn-group .btn-edit {
    padding: 5px 10px;
    border: 0;
    border-radius: 4px;
    background: #dbdbdb;
  }
  
  .blog .blog-list .btn-group .btn-post {
    padding: 5px 10px;
    border: 0;
    border-radius: 4px;
    background: #ec4d37;
    color: #fff;
  }
  
  .blog .blog-list h1 a {
    text-decoration: none;
    color: black;
  }
  
  .blog .blog-list .detail-blog-content {
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
  }
  
  .blog .blog-list .blog-list-item p {
    margin-top: 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
  }
  
  /* Blog Detail */
  .blog-detail {
    display: flex;
    justify-content: center;
  }
  
  .blog-detail-container {
    width: 80%;
    margin: 40px 0;
  }
  
  .blog-detail-container img {
    width: 100%;
  }
  
  .blog-detail-container h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 44px;
    line-height: 120%;
    margin-bottom: 15px;
    color: white;
  }
  
  .blog-detail-container .author {
    font-weight: 100;
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 20px;
    color: white;
  }
  
  .blog-detail-container p {
    margin-top: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    text-align: justify;
    color: white;
  }
  