<html>
    <head>
        <title>Personal Web</title>

        <link rel="stylesheet" href="../public/assets/css/styleDay7.css">

    </head>
    <body>

        <!-- awal navbar -->
        <nav> 

            <div class="left">

                <img src="../public/assets/images/logo.png" alt="logo">
                <ul>
                    <li>
                        <a href="/" class="list-active">Home</a>
                    </li>
                    <li>
                        <a href="/blog">Blog</a>
                    </li>
                </ul>
            </div>

            <div class="right">
                <a href="contact.html">Contact Me</a>
            </div>

        </nav>
        <!-- akhir navbar -->

        <div class="container">
            <div class="section">
                <div class="left">
                    
                    <div style="
                        background-color: white;
                        border: 2px solid black; 
                        border-radius: 8px;
                        padding: 10px;
                        box-shadow: 0px 0px 30px black
                        ">
                        
                        <img src="../public/assets/images/Bliss.png" alt="img" style="width: 100%; border-radius:10px"  />

                        <h1 style="text-align: center;">Putra Lintangasto</h1>
                        <p style="color:black;">
                            Greetings, I am Putra Lintangasto. This is my enjoyable Personal Website.
                        </p>
                        <h3 style="text-align: center;">Skill</h3>
                            <p style="text-align: center;">HTML<br>CSS<br>Javascript<br></p>
                        <table style="border: 1px solid black; width: 100%; border-collapse: collapse;">
                        <tr style= background-color:gray;>
                            <th>Experience</th>
                            <th>Year</th>
                        </tr>
                        <tr style="text-align: center;background-color:white;">
                            <td>Develop Personal Website</td>
                            <td>2021</td>
                        </tr>
                        </table>
                    </div>
                
                </div>
                
                
                <div class="right">
                    <h1>What i do</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore id earum explicabo molestias aliquid sunt voluptates enim eaque adipisci praesentium.</p>
                
                    
                    <div class="skill-container">
                        <div>
                            <img src="../public/assets/images/javascript-logo.png" alt="">
                            <h4>Frontend Developer</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        </div>

                        <div>
                            <img src="../public/assets/images/github-logo.png" alt="">
                            <h4>Version Control</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        </div>

                        <div>
                            <img src="../public/assets/images/netlify-logo.png" alt="">
                            <h4>Automated Deployment</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        </div>
                    </div>
                    <div class= "social">
                        <h3>Don't Forget to Follow Me at</h3>
                        <a href="https://www.facebook.com"><img src="facebook-logo.png" alt="fb" class="fb" style="height: 40px; width: 40px;"></a>
                        <a href="https://www.twitter.com"><img src="twitter-logo.png" alt="twit" class="twit" style="height: 40px; width: 40px;"></a>
                        <a href="https://www.instagram.com"><img src="instagram-logo.png" alt="ig" class="ig" style="height: 40px; width: 40px;"></a>
                        <a href="https://www.gmail.com"><img src="mail-logo.png" alt="mail" class="mail" style="height: 40px; width: 40px;"></a>
                        <a href="https://web.whatsapp.com/"><img src="whatsapp-logo.png" alt="wa" class="wa" style="height: 40px; width: 40px;"></a>
                        <!--  -->
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>