* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
nav {
  display: flex;
  background: gray;
  height: 7vh;
}

nav div {
  display: flex;
  align-items: center;
  flex: 50%;
}

nav div.left-side {
  padding-left: 90px;
}

nav div.right-side {
  padding-right: 90px;
  display: flex;
  justify-content: flex-end;
}

nav ul {
  list-style-type: none;
  margin-left: 40px;
}

nav ul li {
  display: inline;
  margin-left: 40px;
}

nav ul li a {
  color: black; /*nanti diganti hitam*/
  text-decoration: none;
}

nav ul li a.list-active {
  color: orangered;
  font-weight: 700;
}

nav .right-side a {
  font-size: 15px;
  padding: 8px 20px;
  background-color: orangered;
  border: none;
  border-radius: 10px;
  color: white;
  text-decoration: none;
}

/* Blog Form */
.blog-form {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.blog-form .form-container {
  width: 500px;
}

.blog-form .form-container h1 {
  text-align: center;
  margin-bottom: 40px;
}

.blog-form form label {
  font-size: 20px;
  font-weight: 400;
}

.blog-form form input,
textarea,
select {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  background: white;
  border: 1px solid gray;
  border-radius: 8px;
}

.blog-form form textarea {
  height: 250px;
}

.blog-form form .input-blog-image-group {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  background: white;
  border: 1px solid gray;
  border-radius: 8px;
  cursor: pointer;
}

.blog-form form .input-blog-image-group label p {
  font-size: 15px;
}

.blog-form form .input-blog-image-group label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-form form .button-group {
  text-align: right;
}

.blog-form form button {
  margin-top: 50px;
  padding: 8px 20px;
  font-size: 17px;
  background: orangered;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
}

.blog hr {
  border: 1px solid gray;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

/* Blog list */
.blog .blog-list {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.blog .blog-list .blog-list-item {
  width: 80%;
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid silver;
  border-radius: 8px;
  display: flex;
}

.blog .blog-list .blog-list-item .blog-image {
  flex: 1;
}

.blog .blog-list .blog-list-item .blog-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.blog .blog-list .blog-list-item .blog-content {
  padding-left: 20px;
  flex: 2;
}

.blog .blog-list .btn-group {
  text-align: right;
  margin-bottom: 20px;
}

.blog .blog-list .btn-group .btn-edit {
  padding: 5px 10px;
  border: 0;
  border-radius: 4px;
  background: white;
}

.blog .blog-list .btn-group .btn-post {
  padding: 5px 10px;
  border: 0;
  border-radius: 4px;
  background: orangered;
  color: white;
}

.blog .blog-list h1 a {
  text-decoration: none;
  color: #000000;
}

.blog .blog-list .detail-blog-content {
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
}

.blog .blog-list .blog-list-item p {
  margin-top: 20px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
}

/* Blog Detail */
.blog-detail {
  display: flex;
  justify-content: center;
}

.blog-detail-container {
  width: 80%;
  margin: 40px 0;
}

.blog-detail-container img {
  width: 100%;
}

.blog-detail-container h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 120%;
  margin-bottom: 15px;
}

.blog-detail-container .author {
  font-weight: 100;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 20px;
}

.blog-detail-container p {
  margin-top: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 140%;
  text-align: justify;
}

* {
    
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: silver;
}

nav {
    background-color:gray;
    display: flex;
    height: 7vh;
}

nav .left {
    flex: 50%;
    padding-left: 90px;
    display: flex;

    align-items: center;
}

nav .left li {
    display: inline;
}

nav .left ul li a {
    text-decoration: none;
    color: black;
}

nav .left ul li a.list-active{
  text-decoration: none;
  color: orangered; /*nanti diganti hitam*/
  font-weight: 700;
}

nav .right {
    flex: 50%;
    display: flex;
    padding: 10px;
    justify-content: right;
    align-items: center;
    padding-right: 90px;
}

nav .right a {
    font-size: 15px;
    background-color: orangered;
    color: white;
    padding: 8px 20px;
    border-radius: 10px;
    text-decoration: none;
}

.container {
    background-color: silver;
    height: 93vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .section {
    /* background-color: brown; */
    display: flex;
    width: 85%;
}

.section .left {
    /* background-color: aqua; */
    flex: 30%;
}

.section .right {
    /* background-color: blueviolet; */
    flex: 70%;
    padding-left: 35px;
}

.section .right p {
    color: black;
}

.section .right .skill-container {
    display: flex;
}

.skill-container div {
    /* width: 50%; */
    flex: 1;
}

.skill-container div img {
    width: 50px;
    height: 50px;
}

form {
    width: 400px; 
    margin: 90px auto;
    font-weight: bold; 
    font-size: 20px;
    
}

input, select, textarea {
    background-color:rgb(214, 214, 214);
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid grey;
    box-sizing: border-box;
    margin: 10px 0;
}

button {
    padding: 8px 30px; 
    margin-top:10px; 
    border-radius: 5px; 
    background-color:brown;
    color:white;
    border: none;
    cursor:pointer;
    font-size: 12px
}

